# Define the agent and its source, channels and Sink
NetCatAgent.sources=Netcat
NetCatAgent.channels=FileChannel
NetCatAgent.sinks=HdfsSink

# Source Configuration
NetCatAgent.sources.Netcat.type=netcat
NetCatAgent.sources.Netcat.bind=localhost
NetCatAgent.sources.Netcat.port=56527

# Channel COnfiguration
NetCatAgent.channels.FileChannel.type=file
NetCatAgent.channels.FileChannel.dataDirs=/home/naveenpn/NetCatAgent/dataDirs
NetCatAgent.channels.FileChannel.checkpointDir=/home/naveenpn/NetCatAgent/checkpointDir

# Sink COnfiguration
NetCatAgent.sinks.HdfsSink.type=hdfs
NetCatAgent.sinks.HdfsSink.hdfs.path=/user/naveenpn/netcat
NetCatAgent.sinks.HdfsSink.hdfs.fileSuffix=.log
NetCatAgent.sinks.HdfsSink.hdfs.fileType = DataStream
NetCatAgent.sinks.HdfsSink.hdfs.writeFormat = Text

# Bind the source and sink to the channel
NetCatAgent.sources.Netcat.channels=FileChannel
NetCatAgent.sinks.HdfsSink.channel=FileChannel