# Define the agent
SpoolDirectoryAgent.sources = mysource
SpoolDirectoryAgent.sinks = mysink
SpoolDirectoryAgent.channels = mychannel

# Channel Configuration
SpoolDirectoryAgent.channels.mychannel.type = memory

# Source Configuration
SpoolDirectoryAgent.sources.mysource.type = spooldir
SpoolDirectoryAgent.sources.mysource.spoolDir = /home/naveenpn/incoming

# Sink Configuration
SpoolDirectoryAgent.sinks.mysink.type = hdfs
SpoolDirectoryAgent.sinks.mysink.hdfs.path = /flume_output
SpoolDirectoryAgent.sinks.mysink.hdfs.writeFormat = Text
SpoolDirectoryAgent.sinks.mysink.hdfs.fileType =  DataStream


# Bind the source and sink to the channel
SpoolDirectoryAgent.sources.mysource.channels = mychannel
SpoolDirectoryAgent.sinks.mysink.channel = mychannel
